<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSBonjourServices</key>
	<array>
		<string>_tether._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Used to discover and connect to Tether services on your local network.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Used to send photos from your library to your desktop.</string>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
